<div class="container">
<div class="row">
    <div class="title">
        <h3>質問する前に確認していただきたいこと</h3>
    </div>

    <div class="cautions-content mt-2">
        <p class="">スムーズな問題解決のため、質問を投稿する際に守っていただきたいことがあります。</p>

        <div class="col mt-5">
            <img src="/assets/f_f_business_70_s128_f_business_70_2bg.png" class="rounded-circle">
            <div>
            <p class="lead">printpagesは印刷に関する問題解決を行う場です</p>
            <p class="">印刷に関して本当に困っている人をサポートすること、また、価値ある印刷物を世の中に残し届けることを目的としています。</p>
            </div>
        </div>

        <div class="col mt-5">
            <img src="/assets/f_f_business_56_s128_f_business_56_0bg.png" class="rounded-circle">
            <p class="lead">質問する前にわからないことがあれば調べましょう</p>
            <p>わからないことがあれば、まずは調べてその結果を試してみましょう。<br/>
               それでもわからないことがあれば、自分で試したことや理解できなかったことを具体的に記載した上で質問しましょう。</p>
        </div>

        <div class="col mt-5">
            <img src="/assets/f_f_business_34_s128_f_business_34_1bg.png" class="rounded-circle">
            <p class="lead">原則、投稿した質問を削除することはできません</p>
            <p class="">投稿いただいた質問や回答は、同じ問題を抱えている人の貴重な情報になるため削除することができません<br/>
               質問内容に公開してはいけない情報が含まれていないか投稿前にお確かめください。</p>
        </div>

        <div class="mt-5">
            <p class="list-group lead">推奨していない質問</p>
            <ul>
                <li class="list-group-item">印刷に関係のない質問</li>
                <li class="list-group-item list-group-item-secondary">丸投げの質問</li>
                <li class="list-group-item">問題・課題が含まれていない質問</li>
                <li class="list-group-item list-group-item-secondary">過去に投稿した質問と同じ内容の質問</li>
                <li class="list-group-item">広告と受け取られるような質問</li>
            </ul>
        </div>

        <div class="new_button mt-5">
            <%=link_to("new") do %>
                <button class="btn btn-secondary btn-lg mx-auto d-block" >質問する</button> 
            <%end%> 
        </div>

    </div><%#cautions-contentの/div%>

</div><%#rowの/div%>
</div><%#containerの/div%>