<div class="container">
  <h2>ユーザー情報</h2>
    <table class="table mt-5 mb-5">
      <tbody>
        <tr><td>ユーザーネーム：<%= @user.name %></td></tr>
        <tr><td><%= link_to("編集", "/users/#{@user.id}/edit") %></td></tr>
      </tbody>
    </table> 

  

  <table class="table mt-5 mb-5">
  <h5>あなたの質問</h5>
    <tbody>
      
        <% @user.question.each do |question| %>
        <tr><td><%= link_to(question.title, "/questions/#{question.id}") %></td></tr>
        <% end %>
    </tbody>
  </table>
</div>